@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  background-color: #333333;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}


.hexagon_green{
  border: 30px solid #ca73bb;

  border-top-color:  #ca73bb;
  border-right-color: #ca73bb;
  border-bottom-color: #ca73bb;
  border-left-color: #ca73bb;
}


.hexagon_black{
  border: 30px solid #a6a5a6;
}

.hexagon_zero{
  width: 0;
  height: 0;
}

.hexagon_triangle_up{
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

.hexagon_triangle_up_large{
  border-left-width: 25px;
  border-right-width: 25px;
}

.hexagon_triangle_down{
  border-bottom-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

.hexagon_triangle_down_large{
  border-left-width: 25px;
  border-right-width: 25px;
}

.inside_green{
  width: 50px;
  height: 20px;
  background-color:#ca73bb;
}
.inside_black{
  width: 50px;
  height: 20px;
  background-color: #a6a5a6;
}